:root {
  --primary-dark: rgb(29, 29, 29);
  --secondary-dark:  rgb(51, 51, 51);

  --primary-light: #D7E4EA;
  --color-light: #AFC9D5;
  --color-light-2: #D7E4EA;

  --primary-color: rgb(33, 50, 87);
  --secondary-color: rgb(12, 19, 34);

  --highlight-color: rgb(255, 189, 124);
  
  font-family: Poppins, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
}
ul, ol{
  list-style-type: none;
  margin:0;
  padding:0;
}
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  width: 100%;
  height: 100vh;
}

  #light.app {
    background-color: var(--color-light);
    color: var(--secondary-dark);
  }

  #dark.app {
    background-color: var(--secondary-color);
    color: var(--primary-light);
  }

a {
  text-decoration:none;
  font-weight: 500;
  transition: transform 125ms;
}
  a:focus{
    transform: translateY(-0.15rem);
  }
  
  #dark a{
    color:var(--primary-light);
  }
  #light a{
    color:var(--primary-dark);
  }
h1 {
  font-size: 2.5em;
  line-height: 1.1;
}

#dark input, #dark textarea {
  background-color:var(--primary-color);
}
#light input, #light textarea{
  background-color:var(--color-light-2)
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.4rem 1.3rem;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
  button:hover {
    border-color: var(--secondary-color);
  }

  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  button[type="submit"] {
    width:100px;
    font-size: 0.8rem;
  }
  button:disabled:hover{
    cursor: default;
  }

.nav-and-switch {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mode-toggle-container {
  display: flex;
}

.mode-toggle-container>button, p {
  margin: 0;
  font-size: 1rem;
  padding: 10px;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  flex-wrap: wrap;
  margin: 20px;
}

  .nav-item {
    padding: 0.5rem 1.2rem;
    border-radius: 8px;
    transition: transform 125ms;
  }
    .nav-item:hover{
      transform: translateY(-0.15rem);
    }

  #dark.nav-item , #dark button {
    color:var(--primary-light);
    background-color: var(--primary-color);
  }

  #light.nav-item , #light button {
    color: var(--secondary-dark);
    background-color: var(--color-light-2);
  }

a.active > #dark.nav-item{
  color:var(--highlight-color);
  -webkit-box-shadow:0px 0px 3px 1px rgba(255, 189, 124, 0.7);
-moz-box-shadow: 0px 0px 3px 1px rgba(255, 189, 124, 0.7);
box-shadow: 0px 0px 3px 1px rgba(255, 189, 124, 0.7);
/* For some reason, a variable color wouldn't work here, so I had to hard code the color */
}

a.active > #light.nav-item{
  color: var(--primary-light);
  background-color: var(--primary-color);
  -webkit-box-shadow:0px 0px 3px 1px rgba(243, 243, 243, 0.7);
-moz-box-shadow: 0px 0px 3px 1px rgba(243, 243, 243, 0.7);
box-shadow: 0px 0px 5px 5px rgba(243, 243, 243, 0.7);
/* For some reason, a variable color wouldn't work here, so I had to hard code the color */

}


.counter-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 200px;
}

#count-num {
  font-size: 1.75rem;
}

#my-cat {
  width: 600px;
  border-radius: 16px;
}

fieldset{
  border-radius: 8px;
}
.name-fieldset{
  min-width:300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
input{
  all:unset;
  border-radius: 12px;
  padding:4px 12px 4px 12px;
}
  .feedback > .field > input {
    padding: 0 4px 0 4px;
  }

fieldset.feedback{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 30px;
}
.field{
  display: flex;
  flex-direction: column;
  /* gap: 4px; */
  width:100%;
}
textarea{
  all:unset;
  border-radius: 12px;
  padding: 12px;
  resize:none;
}