:root {
  --primary-dark: rgb(29, 29, 29);
  --secondary-dark:  rgb(51, 51, 51);
  --tertiary-dark: rgb(95, 95, 95);

  --primary-light: rgb(243, 243, 243);
  --secondary-light: rgb(190, 190, 190);

  --primary-color: rgb(33, 50, 87);
  --secondary-color: rgb(12, 19, 34);
  --tertiary-color: rgb(217, 228, 255);
  --highlight-color: rgb(255, 189, 124);
  
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
}
ul, ol{
  list-style-type: none;
  margin:0;
  padding:0;
}
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  width: 100%;
  height: 100vh;
}

#light.app {
  background-color: var(--tertiary-color);
  color: var(--primary-dark);
}

#dark.app {
  background-color: var(--secondary-color);
  color: var(--primary-light);
}

a {
  text-decoration:none;
  font-weight: 500;
}
#dark a{
  color:var(--primary-light);
}
#light a{
  color:var(--primary-dark);
}
h1 {
  font-size: 2.5em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.4rem 1.3rem;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--secondary-color);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.nav-and-switch {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mode-toggle-container {
  display: flex;
}

.mode-toggle-container>button, p {
  margin: 0;
  font-size: 1rem;
  padding: 10px;
}

.nav-list {
  display: flex;
  min-width: 400px;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
}

.nav-item {
  padding: 0.5rem 1.2rem;
  border-radius: 8px;
  transition: transform 125ms;
}
.nav-item:hover {
  transform: translateY(-0.15rem);
}
#dark.nav-item , #dark button {
  color:var(--primary-light);
  background-color: var(--primary-color);
}

#light.nav-item , #light button {
  color: var(--secondary-dark);
  background-color: var(--primary-light);
}

#dark.nav-item .active{
  color:var(--highlight-color)
}
#light.nav-item .active{
  color: var(--tertiary-dark);
}


.counter-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 200px;
}

#count-num {
  font-size: 1.75rem;
}

#my-cat {
  width: 600px;
  border-radius: 16px;
}

#name-fieldset{
  min-width:300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 8px;
  border-color: var(--primary-color);
}
.field{
  display: flex;
  justify-content: space-between;
  width:100%;
}
#submit {
  width:100px;
  font-size: 0.8rem;
}
#submit-inactive{

}